{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}


<!-- Page Header -->
<div class="container content-space-1">
  <div class="w-lg-75 mx-lg-auto">
    <div class="page-header">
      <!-- Media -->
      <div class="d-sm-flex mb-3">
        <div class="flex-shrink-0 mb-2 mb-sm-0">
          <a href="../demo-jobs/employer.html">
            <img class="avatar avatar-lg mb-3" src="../assets/svg/brands/capsule-icon.svg" alt="Image Description">
          </a>
        </div>

        <div class="flex-grow-1 ms-sm-4">
          <div class="row">
            <div class="col">
              <h1 class="page-header-title h2">{{ comp.name }}</h1>
            </div>
            <!-- End Col -->

            <div class="col-auto">
              <!-- Checkbbox Bookmark -->
              <div class="form-check form-check-bookmark">
                <input class="form-check-input" type="checkbox" value="" id="jobsPageHeaderBookmarkCheck">
                <label class="form-check-label" for="jobsPageHeaderBookmarkCheck">
                  <span class="form-check-bookmark-default">
                    <i class="bi-star me-1"></i> Save this job
                  </span>
                  <span class="form-check-bookmark-active">
                    <i class="bi-star-fill me-1"></i> Saved
                  </span>
                </label>
              </div>
              <!-- End Checkbbox Bookmark -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->

          <ul class="list-inline list-separator d-flex align-items-center mb-2">
            <li class="list-inline-item">
              <a class="link" href="../demo-jobs/employer.html">{{ comp.status }}</a>
            </li>
            <li class="list-inline-item">
              <a class="link" href="../demo-jobs/employer.html">{{ comp.email }}</a>
            </li>
          </ul>

          <ul class="list-inline list-separator small text-body mb-2">
            <li class="list-inline-item">Posted 7 hours ago</li>
            <li class="list-inline-item">{{ comp.address }}</li>
            <li class="list-inline-item">Full time</li>
          </ul>
        </div>
      </div>
      <!-- End Media -->
    </div>
  </div>
</div>
<!-- End Page Header -->
{% endif %}
{% endblock %}